<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHfGM7fGEXeJ01q30Mkc9ZIJQ5gvqMNaM</string>
	<key>GCM_SENDER_ID</key>
	<string>1009924280554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Version1.FantasyStatTracker</string>
	<key>PROJECT_ID</key>
	<string>fantasy-stat-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasy-stat-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009924280554:ios:b878aad45a7376ec124793</string>
</dict>
</plist>